.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 80px;
  border-bottom: 1px solid #ddd;
  padding-left: var(--default-padding);
  padding-right: var(--default-padding);
}

.header-title-container {
  display: flex;
  justify-content: center;
  align-items: start;
  flex-direction: column;
}

.header-title {
  font-size: 24px;
}

.header-subtitle {
  font-size: 18px;
}

.header-action-button {
  font-size: 18px;
  font-weight: 500;
  padding: 10px 48px;
  border: 0;
  background-color: var(--main-color);
  border-radius: 8px;
  color: white;
  transition: background-color 0.3s ease;
}

.header-action-button:hover {
  cursor: pointer;
  background-color: var(--hovered-color);
}

.header-action-button i {
  margin-right: 12px;
}
