/* Common styles */
@import url("./header.css");
@import url("./routines.css");
@import url("./stats.css");
@import url("./today.css");
@import url("./modal.css");

:root {
  --default-padding: 24px;
  --main-color: rgb(177, 42, 255);
  --hovered-color: rgb(143, 22, 213);
}

html {
  font-family: "Inter", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, sans-serif;
}

body {
  position: relative;
  z-index: 1;
}

.app {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 100vh;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  width: 100%;
  height: 100%;
  padding-left: var(--default-padding);
  padding-right: var(--default-padding);
}

.container-title {
  font-size: 16px;
  font-weight: 400;
  color: #838383;
}
