/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
/* Common styles */
@import url("./header.css");

:root {
  --default-padding: 144px;
  --main-color: rgb(177, 42, 255);
  --hovered-color: rgb(143, 22, 213);
}

.app {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
}
