.modal {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.233);
  z-index: 999;
}

.modal-container {
  width: 30%;
  height: 70%;
  background-color: white;
  border-radius: 12px;
  display: flex;
  justify-content: start;
  align-items: center;
  flex-direction: column;
  padding: 16px;
  gap: 16px;
}

.modal-header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #eee;
  padding-bottom: 16px;
}

.modal-title {
  font-size: 20px;
  font-weight: bold;
}

.modal-close-button {
  background: transparent;
  border: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-close-button i {
  font-size: 14px;
  color: rgb(154, 154, 154);
  transition: color 0.3s ease;
}

.modal-close-button:hover {
  cursor: pointer;
}

.modal-close-button:hover i {
  color: var(--main-color);
}

.modal-content {
  width: 100%;
  display: flex;
  justify-content: start;
  align-items: center;
  flex-direction: column;
  gap: 16px;
}

.modal-input-container {
  width: 100%;
  display: flex;
  justify-content: start;
  align-items: start;
  flex-direction: column;
  gap: 4px;
}

.modal-input-container label {
  font-size: 16px;
  color: #333333;
}

.modal-text-input {
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 8px 12px;
}
