.routines-container {
  width: 15%;
  height: 100%;
  border-right: 1px solid #ddd;
  display: flex;
  justify-content: start;
  align-items: start;
  flex-direction: column;
  gap: 16px;
  padding: 16px 16px 16px 0px;
}

.routines-list {
  width: 100%;
  display: flex;
  justify-content: start;
  align-items: start;
  flex-direction: column;
  gap: 12px;
}

.routines-empty-state {
  font-size: 16px;
  background-color: #f5f5f5;
  border: 1px dashed #ddd;
  border-radius: 14px;
  padding: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  gap: 8px;
}

.routines-empty-state i {
  font-size: 20px;
}

.routine-item {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f5f5f5;
  border-radius: 14px;
  padding: 12px;
  transition: background-color 0.3s ease;
}

.routine-item:hover {
  cursor: pointer;
  background-color: #e4e4e4;
}

.routine-name {
  font-size: 18px;
}

.routine-progress {
  font-size: 16px;
  color: #7c7c7c;
}
