.routines-container {
  width: 15%;
  height: 100%;
  border-right: 1px solid #ddd;
  display: flex;
  justify-content: start;
  align-items: start;
  flex-direction: column;
  gap: 16px;
  padding: 16px 16px 16px 0px;
}

.routines-list {
  width: 100%;
  display: flex;
  justify-content: start;
  align-items: start;
  flex-direction: column;
  gap: 12px;
}

.routines-empty-state {
  font-size: 24px;
  background-color: #f5f5f5;
  border-radius: 14px;
  padding: 12px;
  text-align: center;
}

.routine-item {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f5f5f5;
  border-radius: 14px;
  padding: 12px;
}

.routine-name {
  font-size: 22px;
}

.routine-progress {
  font-size: 18px;
  color: #7c7c7c;
}
