.stats-container {
  width: 15%;
  height: 100%;
  border-left: 1px solid #ddd;
  display: flex;
  justify-content: space-between;
  align-items: start;
  flex-direction: column;
  gap: 24px;
  padding: 16px 0px 16px 16px;
}

.stats-block {
  width: 100%;
  display: flex;
  justify-content: start;
  align-items: start;
  flex-direction: column;
  gap: 12px;
}

.stats-list {
  width: 100%;
  display: flex;
  justify-content: start;
  align-items: start;
  flex-direction: column;
  gap: 8px;
}

.stats-item {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f5f5f5;
  border-radius: 8px;
  padding: 10px 12px;
}

.stats-item span {
  font-weight: 600;
}

.heatmap-container {
  width: 100%;
}

.heatmap-item {
  width: 20px;
  height: 20px;
  border-radius: 4px;
}

.heatmap-item-lvl-0 {
  background-color: #ccc;
}

.heatmap-item-lvl-1 {
  background-color: rgba(177, 42, 255, 0.2);
}

.heatmap-item-lvl-2 {
  background-color: rgba(177, 42, 255, 0.4);
}

.heatmap-item-lvl-3 {
  background-color: rgba(177, 42, 255, 0.6);
}

.heatmap-item-lvl-4 {
  background-color: rgba(177, 42, 255, 0.8);
}
