.stats-container {
  width: 15%;
  height: 100%;
  border-left: 1px solid #ddd;
  display: flex;
  justify-content: space-between;
  align-items: start;
  flex-direction: column;
  gap: 24px;
  padding: 16px 0px 16px 16px;
}

.stats-block {
  width: 100%;
  display: flex;
  justify-content: start;
  align-items: start;
  flex-direction: column;
  gap: 12px;
}

.stats-list {
  width: 100%;
  display: flex;
  justify-content: start;
  align-items: start;
  flex-direction: column;
  gap: 8px;
}

.stats-item {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f5f5f5;
  border-radius: 8px;
  padding: 10px 12px;
}

.stats-item span {
  font-weight: 600;
}
